@font-face {
    font-family: 'Muli';
    font-style: normal;
    font-weight: 400;
    src: local('Muli Regular'), local('Muli-Regular'), url(../fonts/muli.ttf) format('truetype');
}

body {
    font: 400 16px 'Muli', sans-serif !important;
    margin: 0;
    padding: 0;
}

a, a:link, a:hover, a:visited, a:active {
    color: blue;
}

.ct {
    border-collapse: collapse;
    border: 0;
}

.ct td {
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: 0;
    height: 0;
}

.ct_cat {
    padding: 2px;
    border: 0;
    margin: 0;
    font-size: 110%;
    font-weight: bold;
}

.ct_title {
    padding: 2px;
    border: 0;
    margin: 0;
}

.ctt {
    border-collapse: collapse;
    border: 0;
    width: 100%;
    height: 100%;
}

.ctt td {
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
    border-right: solid 1px black;
    height: 100%;
}

.ctt_char {
    padding: 2px;
    border: 0;
    margin: 0;
}

.tt {
    border-collapse: collapse;
    border: solid 1px black;
    margin: 0 10px;
}

.tt td {
    border: solid 1px black;
    padding: 2px;
}
