@font-face {
    font-family: 'Rambla';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/rambla-regular.eot');
    src: local('Rambla'), local('Rambla-Regular'),
    url('../fonts/rambla-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/rambla-regular.woff2') format('woff2'),
    url('../fonts/rambla-regular.woff') format('woff'),
    url('../fonts/rambla-regular.ttf') format('truetype'),
    url('../fonts/rambla-regular.svg#Rambla') format('svg');
}

body {
    background-image: url('images/bg.gif');
    font: 400 16px 'Rambla', sans-serif;
    margin-top: 20px;
    margin-bottom: 60px;
}

.page-header {
    border-bottom: solid 1px darkgrey;
}

.row.row-header {
    margin-bottom: 15px;
}

.table-chars {
    background-color: white;
}

.table-chars th {
    vertical-align: middle !important;
}

.table-chars td {
    padding: 0 !important;
}

.nav-nested > li {
    margin: 0 !important;
    vertical-align: middle !important;
}

.nav-nested > li > a {
    margin: 2px !important;
}

.nav-pills > li > a {
    cursor: pointer;
    color: black;
    background-color: white;
}

.nav-pills > li.typical > a {
    text-decoration: underline;
}

.nav-pills > li.selected > a {
    color: white;
    background-color: limegreen;
}

.nav-pills > li.selected-plus > a {
    color: white;
    background-color: forestgreen;
}

.nav-pills > li.mismatch > a {
    color: white;
    background-color: red;
}

.navbar-footer {
    color: grey;
}

.footer-text {
    display: table-cell;
    vertical-align: middle;
    height: 60px;
}
