@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/pt-sans-narrow-regular.eot');
    src: local('PT Sans Narrow'), local('PTSans-Narrow'),
    url('../fonts/pt-sans-narrow-regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/pt-sans-narrow-regular.woff2') format('woff2'),
    url('../fonts/pt-sans-narrow-regular.woff') format('woff'),
    url('../fonts/pt-sans-narrow-regular.ttf') format('truetype'),
    url('../fonts/pt-sans-narrow-regular.svg#PTSansNarrow') format('svg');
}

body {
    font: 400 16px 'PT Sans Narrow', sans-serif;
}

.row.row-header {
    margin-bottom: 15px;
}

.table-chars th {
    vertical-align: middle !important;
}

.table-chars td {
    padding: 0 !important;
}

.nav-nested > li {
    margin: 0 !important;
    vertical-align: middle !important;
}

.nav-nested > li > a {
    margin: 2px !important;
}

.nav-pills > li.typical > a {
    text-decoration: underline;
}

.nav-pills > li.selected > a {
    color: white;
    background-color: limegreen;
}

.nav-pills > li.selected-plus > a {
    color: white;
    background-color: forestgreen;
}

.nav-pills > li.mismatch > a {
    color: white;
    background-color: red;
}

footer {
    background: whitesmoke;
    color: grey;
    padding: 1em 0;
    margin-top: 15px;
}
